.main-container-error {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--font-primary);
}

.main-container-error h1 {
  font-size: 5rem;
}

.main-container-error p {
  font-size: 2rem;
}