* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DynaPuff';
    height: 100vh;
    background: rgb(240, 218, 255);
    background: linear-gradient(0deg, rgba(240, 218, 255, 1) 0%, rgba(246, 240, 153, 1) 50%, rgba(69, 239, 252, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color);
}