.main-container-sprint {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa';
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.game-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sprint-timer {
  position: absolute;
  right: 100px;
}

.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.current-score {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.answers {
  text-align: center;
}

.correct-answers p {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: var(--color);
  opacity: 20%;
  margin: 3px;
}

.points-per-answer {
  font-size: 1.1rem;
  margin-top: 5px;
}

.progress {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color);
}

.word-props {
  text-align: center;
  margin: 20px;
}

.sprint-word {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

.sprint-translation {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btns-container {
  display: flex;
  gap: 30px;
}

.btns-container div {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: 5rem;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid var(--color);
  opacity: 80%;
  transition: 0.2s;
}

.btn-true {
  background: #50a150;
}

.btn-false {
  background: #f06969;
}

.btns-container div:hover {
  cursor: pointer;
  opacity: 100%;
  box-shadow: 0 0 5px var(--color);
}

.btns-container div:active {
  transform: scale(0.95);
}

.result-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 30px;
}

.result-container .sprint-audio-icon {
  filter: var(--filter);
}

.result-container .sprint-audio-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.result-container .sprint-audio-icon:active {
  transform: scale(0.95);
}

.results-header {
  align-self: center;
  font-size: 1.5rem;
}

.results {
  display: flex;
  gap: 50px;
}

.results-description p {
  margin: 5px;
}

.results-accuracy {
  align-self: center;
}

.word-list h3 {
  margin: 10px 0;
}

.word-list li {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.word-list li span {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.1rem;
}


