<div class="word-container">
  <img class="word-img" src="" alt="">
  <div class="word-description">
    <div class="word-properties">
      <img class="word-learned" src="../../../assets/images/textbook/tick.png" alt="Learned" width="40">
      <img class="word-hard" src="../../../assets/images/textbook/star.png" alt="Hard" width="40">
    </div>
    <div class="word">
      <h2>${word.word}</h2>
      <p class="word-transcription">${word.transcription}</p>
      <img id="btn-${word.id}-word" src="../../../assets/svg/audio-speaker.svg" alt="Audio" class="audio-icon" width="20">
      <audio id="audio-${word.id}-word" src=""></audio>
      <p class="word-translation">${word.wordTranslate}</p>
    </div>
    <div class="word-meaning">
      <p>
        ${word.textMeaning}
        <img id="btn-${word.id}-meaning" class="audio-icon" src="../../../assets/svg/audio-speaker.svg" alt="Audio"
          width="20">
        <audio id="audio-${word.id}-meaning" src=""></audio>
      </p>
      <p class="meaning-translation">${word.textMeaningTranslate}</p>
    </div>
    <div class="word-example">
      <p>
        ${word.textExample}
        <img id="btn-${word.id}-example" class="audio-icon" src="../../../assets/svg/audio-speaker.svg" alt="Audio"
          width="20">
        <audio id="audio-${word.id}-example" src=""></audio>
      </p>
      <p class="example-translation">${word.textExampleTranslate}</p>
    </div>
    <div class="word-progress">
      <p>Аудиовызов: <span>1/1</span></p>
      <p>Спринт:<span>1/1</span></p>
    </div>
  </div>
</div>