.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-container {
    font-family: 'Comfortaa';
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description {
    max-width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.description-img {
    max-width: 500px;
    border-radius: 30px;
}

.description-text {
    text-align: center;
    line-height: 1.5rem;
}

.description-btns {
    text-align: center;
}

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 25px 20px;
    border: 2px solid var(--color);
    border-radius: 30px;
    transition: 0.1s;
}

.menu-item:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 2px 2px 4px var(--color);
}

.menu-item:active {
    transform: scale(1);
}
