.main-container-team {
  font-family: 'Comfortaa';
  margin: auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.team-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 50px 0;
}

.card-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
  border-radius: 20px;
  color: var(--color);
  opacity: 90%;
  overflow: hidden;
}

.card-img {
  margin-bottom: 20px;
  border-radius: 60px;
}

.card-description {
  text-align: center;
}

.card-name {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.card-contribution {
  list-style: circle;
  margin: 20px 0;
  text-align: justify;
}

.card-contribution li {
  margin: 5px;
}

.card-link {
  display: inline-block;
  font-weight: 600;
}

.card-link:hover {
  text-shadow: 1px 1px 2px var(--ligth-color);
}

.card-link:active {
  transform: scale(0.98);
}