.start-btn {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid var(--color);
  border-radius: 10px;
  font-size: 0.8rem;
  transition: 0.2s;
}

.start-btn:hover {
  cursor: pointer;
  background: var(--color);
  color: var(--ligth-color);
}

.start-btn:active {
  transform: scale(0.98);
}


.next-btn {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid var(--color);
  border-radius: 10px;
  font-size: 0.8rem;
  transition: 0.2s;
}

.next-btn:hover {
  cursor: pointer;
  background: var(--color);
  color: var(--ligth-color);
}

.next-btn:active {
  transform: scale(0.98);
}


.main-container-audiocall {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa';
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 100px;
}

.rules-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}

.controls-description {
  text-align: center;
}

.control-keys {
  display: flex;
  justify-content: center;
}

.word-img {
  display: none;
}

.audiocall-image-container {
  width: 320px;
  height: 220px;

}
.sound-icon,
.word-img {
  width: 100%;
  height: 100%;
}

.audiocall-word-description {
  font-family: var(--font-primary);
  font-size: 2rem;
  display: flex;
  align-content: center;
  gap: 15px;
}

.audiocall-word-description {
  display: flex;
}

.audiocall-audio-icon {
  filter: var(--filter-light);
  transition: 0.1s;
}

.audiocall-audio-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.audiocall-audio-icon:active {
  transform: scale(0.95);
}

.btns-container-audiocall {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.answer-item {
  background-color: transparent;
}

.btns-container-audiocall button {
  position: relative;
  user-select: none;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  transition: 0.2s;
  border: none;
  background-color: none;
  padding: 0.3em 0.6em;
}

.btns-container-audiocall button.correct-answer,
.btns-container-audiocall button.wrong-answer {
  opacity: 100%;
  text-shadow: 0 0 1px var(--color);
  transform: scale(1.05);
}

.btns-container-audiocall button:hover {
  cursor: pointer;
  text-shadow: 0 0 1px var(--color);
  opacity: 100%;
  transform: scale(1.05);
  transition: 0.3s;
}

.btns-container-audiocall button.correct-answer:hover,
.btns-container-audiocall button.wrong-answer:hover {
  cursor: auto;
}

.btns-container-audiocall button.correct-answer:active,
.btns-container-audiocall button.wrong-answer:active {
  transform: scale(1.05);
}

.btns-container-audiocall button:active {
  transform: scale(0.95);
}

.answer-container-audiocall {
  position: relative;

}

.answer-img {
  display: none;
  position: absolute;
  top: -25px;
  left: calc(50% - 10px);
}

.answer-img.active {
  display: block;
}

.result-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 30px;
}

.result-container .audiocall-audio-icon {
  filter: var(--filter);
}

.results-header {
  align-self: center;
  font-size: 1.5rem;
}

.results {
  display: flex;
  gap: 50px;
}

.results-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-description p {
  margin: 5px;
}

.results-accuracy {
  align-self: center;
}

.word-list h3 {
  margin: 10px 0;
}

.word-list-item {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
}

.word-audiocall {
  font-weight: 500;
  font-size: 1.1rem;
}

.result-answers-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

